# Dependencies
node_modules/

# Playwright reports
playwright-report/
test-results/

# Allure reports
allure-results/
allure-report/

# Playwright authentication state
playwright/.auth/

# Environment files
.env
.env.*

# Logs
*.log

# OS files
.DS_Store
Thumbs.db